/*  Project span
    PKWARE, INC.
    Copyright © 1995. All Rights Reserved.

    SUBSYSTEM:    span.exe Application
    FILE:         spanapp.rc
    AUTHOR:       


    OVERVIEW
    ========
    All resources defined here.      
*/

#if !defined(WORKSHOP_INVOKED)
#include <windows.h>
#endif
#include "spanapp.rh"

SDI_MENU MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Compress Files", CM_COMPRESS_FILES
  MENUITEM "&Uncompress Files", CM_UNCOMPRESS_FILES
  MENUITEM SEPARATOR
  MENUITEM "E&xit\tAlt+F4", CM_EXIT
 }

 POPUP "&Options"
 {
  MENUITEM "&1024", CM_DICT_SIZE_1024
  MENUITEM "&2048", CM_DICT_SIZE_2048
  MENUITEM "&4096", CM_DICT_SIZE_4096
  MENUITEM SEPARATOR
  MENUITEM "&ASCII", CM_COMP_TYPE_ASCII
  MENUITEM "&Binary", CM_COMP_TYPE_BINARY
 }

 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 POPUP "&Help"
 {
  MENUITEM "&About...", CM_HELPABOUT
 }

}


// Accelerator table for short-cut to menu commands. (include\owl\editfile.rc)
SDI_MENU ACCELERATORS
BEGIN
  VK_DELETE, CM_EDITDELETE, VIRTKEY
  VK_DELETE, CM_EDITCUT, VIRTKEY, SHIFT
  VK_INSERT, CM_EDITCOPY, VIRTKEY, CONTROL
  VK_INSERT, CM_EDITPASTE, VIRTKEY, SHIFT
  VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
  VK_BACK,   CM_EDITUNDO, VIRTKEY, ALT
  VK_F3,     CM_EDITFINDNEXT, VIRTKEY
END


// Menu merged in when TEditView is active, notice the extra MENUITEM SEPARATORs which are
// for menu negotation.  These separators are used as group markers by OWL.
IDM_EDITVIEW MENU 
{
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
}


// Menu merged in when TListView is active, notice the extra MENUITEM SEPARATORs which are
// for menu negotation.  These separators are used as group markers by OWL.
IDM_LISTVIEW MENU 
{
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
 MENUITEM SEPARATOR
}


IDM_DOCMANAGERFILE MENU 
{
 MENUITEM SEPARATOR
 MENUITEM "E&xit\tAlt+F4", CM_EXIT
}


//
// Table of help hints displayed in the status bar.
//
STRINGTABLE 
BEGIN
    -1,                         "File/document operations"
    CM_FILENEW,                 "Creates a new document"
    CM_FILEOPEN,                "Opens an existing document"
    CM_VIEWCREATE,              "Create a new view for this document"
    CM_FILEREVERT,              "Reverts changes to last document save"
    CM_FILECLOSE,               "Close this document"
    CM_FILESAVE,                "Saves this document"
    CM_FILESAVEAS,              "Saves this document with a new name"
    CM_EXIT,                    "Quits spanApp and prompts to save the documents"
    CM_EDITUNDO-1,              "Edit operations"
    CM_EDITUNDO,                "Reverses the last operation"
    CM_EDITCUT,                 "Cuts the selection and puts it on the Clipboard"
    CM_EDITCOPY,                "Copies the selection and puts it on the Clipboard"
    CM_EDITPASTE,               "Inserts the clipboard contents at the insertion point"
    CM_EDITDELETE,              "Deletes the selection"
    CM_EDITCLEAR,               "Clear the document"
    CM_EDITADD,                 "Insert a new line"
    CM_EDITEDIT,                "Edit the current line"
    CM_EDITFIND-1,              "Search/replace operations"
    CM_EDITFIND,                "Finds the specified text"
    CM_EDITREPLACE,             "Finds the specified text and changes it"
    CM_EDITFINDNEXT,            "Finds the next match"
    CM_HELPABOUT-1,             "Access About"
    CM_HELPABOUT,               "About the span application"
END


//
// OWL string table
//

// EditFile (include\owl\editfile.rc and include\owl\editsear.rc)
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    IDS_CANNOTFIND,             "Cannot find ""%s""."
    IDS_UNABLEREAD,             "Unable to read file %s from disk."
    IDS_UNABLEWRITE,            "Unable to write file %s to disk."
    IDS_FILECHANGED,            "The text in the %s file has changed.\n\nDo you want to save the changes?"
    IDS_FILEFILTER,             "Text files (*.TXT)|*.TXT|AllFiles (*.*)|*.*|"
END


// ListView (include\owl\listview.rc)
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_LISTNUM,  "Line number %d"
END


// Doc/View (include\owl\docview.rc)
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    IDS_DOCMANAGERFILE,         "&File"
    IDS_DOCLIST,                "--Document Type--"
    IDS_VIEWLIST,               "--View Type--"
    IDS_UNTITLED,               "Document"
    IDS_UNABLEOPEN,             "Unable to open document."
    IDS_UNABLECLOSE,            "Unable to close document."
    IDS_READERROR,              "Document read error."
    IDS_WRITEERROR,             "Document write error."
    IDS_DOCCHANGED,             "The document has been changed.\n\nDo you want to save the changes?"
    IDS_NOTCHANGED,             "The document has not been changed."
    IDS_NODOCMANAGER,           "Document Manager not present."
    IDS_NOMEMORYFORVIEW,        "Insufficient memory for view."
    IDS_DUPLICATEDOC,           "Document already loaded."
END


// Exception string resources (include\owl\except.rc)
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    IDS_OWLEXCEPTION,           "ObjectWindows Exception"
    IDS_UNHANDLEDXMSG,          "Unhandled Exception"
    IDS_OKTORESUME,             "OK to resume?"
    IDS_UNKNOWNEXCEPTION,       "Unknown exception"

    IDS_UNKNOWNERROR,           "Unknown error"
    IDS_NOAPP,                  "No application object"
    IDS_OUTOFMEMORY,            "Out of memory"
    IDS_INVALIDMODULE,          "Invalid module specified for window"
    IDS_INVALIDMAINWINDOW,      "Invalid MainWindow"
    IDS_VBXLIBRARYFAIL,         "VBX Library init failure"

    IDS_INVALIDWINDOW,          "Invalid window %s"
    IDS_INVALIDCHILDWINDOW,     "Invalid child window %s"
    IDS_INVALIDCLIENTWINDOW,    "Invalid client window %s"

    IDS_CLASSREGISTERFAIL,      "Class registration fail for window %s"
    IDS_CHILDREGISTERFAIL,      "Child class registration fail for window %s"
    IDS_WINDOWCREATEFAIL,       "Create fail for window %s"
    IDS_WINDOWEXECUTEFAIL,      "Execute fail for window %s"
    IDS_CHILDCREATEFAIL,        "Child create fail for window %s"

    IDS_MENUFAILURE,            "Menu creation failure"
    IDS_VALIDATORSYNTAX,        "Validator syntax error"
    IDS_PRINTERERROR,           "Printer error"

    IDS_LAYOUTINCOMPLETE,       "Incomplete layout constraints specified in window %s"
    IDS_LAYOUTBADRELWIN,        "Invalid relative window specified in layout constraint in window %s"

    IDS_GDIFAILURE,             "GDI failure"
    IDS_GDIALLOCFAIL,           "GDI allocate failure"
    IDS_GDICREATEFAIL,          "GDI creation failure"
    IDS_GDIRESLOADFAIL,         "GDI resource load failure"
    IDS_GDIFILEREADFAIL,        "GDI file read failure"
    IDS_GDIDELETEFAIL,          "GDI object %X delete failure"
    IDS_GDIDESTROYFAIL,         "GDI object %X destroy failure"
    IDS_INVALIDDIBHANDLE,       "Invalid DIB handle %X"
END


// General Window's status bar messages. (include\owl\statusba.rc)
STRINGTABLE
BEGIN
    IDS_MODES                   "EXT|CAPS|NUM|SCRL|OVR|REC"
    IDS_MODESOFF                "   |    |   |    |   |   "
    SC_SIZE,                    "Changes the size of the window"
    SC_MOVE,                    "Moves the window to another position"
    SC_MINIMIZE,                "Reduces the window to an icon"
    SC_MAXIMIZE,                "Enlarges the window to it maximum size"
    SC_RESTORE,                 "Restores the window to its previous size"
    SC_CLOSE,                   "Closes the window"
    SC_TASKLIST,                "Opens task list"
    SC_NEXTWINDOW,              "Switches to next window"
END


// Validator messages (include\owl\validate.rc)
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    IDS_VALPXPCONFORM          "Input does not conform to picture:\n""%s"""
    IDS_VALINVALIDCHAR         "Invalid character in input"
    IDS_VALNOTINRANGE          "Value is not in the range %ld to %ld."
    IDS_VALNOTINLIST           "Input is not in valid-list"
END


//
// Misc application definitions
//

// Application ICON
IDI_SDIAPPLICATION ICON "appldocv.ico"


// About box.
IDD_ABOUT DIALOG 12, 17, 204, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About span"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT "Version", IDC_VERSION, 2, 14, 200, 8, SS_NOPREFIX
    CTEXT "Disk Spanning Example", -1, 2, 4, 200, 8, SS_NOPREFIX
    CTEXT "", IDC_COPYRIGHT, 2, 27, 200, 17, SS_NOPREFIX
    RTEXT "", IDC_DEBUG, 136, 55, 66, 8, SS_NOPREFIX
    ICON IDI_SDIAPPLICATION, -1, 2, 2, 34, 34
    DEFPUSHBUTTON "OK", IDOK, 82, 48, 40, 14
END


// TInputDialog class dialog box.
IDD_INPUTDIALOG DIALOG 20, 24, 180, 64
STYLE WS_POPUP | WS_CAPTION | DS_SETFONT
FONT 8, "Helv"
BEGIN
    LTEXT "", ID_PROMPT, 10, 8, 160, 10, SS_NOPREFIX
    CONTROL "", ID_INPUT, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL, 10, 20, 160, 12
    DEFPUSHBUTTON "&OK", IDOK, 47, 42, 40, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 93, 42, 40, 14
END


// Horizontal slider thumb bitmap for TSlider and VSlider (include\owl\slider.rc)
IDB_HSLIDERTHUMB BITMAP PRELOAD MOVEABLE DISCARDABLE 
BEGIN
    '42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
    '00 00 12 00 00 00 14 00 00 00 01 00 04 00 00 00'
    '00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
    '00 00 10 00 00 00 00 00 00 00 00 00 C0 00 00 C0'
    '00 00 00 C0 C0 00 C0 00 00 00 C0 00 C0 00 C0 C0'
    '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
    '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
    '00 00 FF FF FF 00 BB BB 0B BB BB BB B0 BB BB 00'
    '00 00 BB B0 80 BB BB BB 08 0B BB 00 00 00 BB 08'
    'F8 0B BB B0 87 70 BB 00 00 00 B0 8F F8 80 BB 08'
    '77 77 0B 00 00 00 08 F8 88 88 00 88 88 87 70 00'
    '00 00 0F F7 77 88 00 88 77 77 70 00 00 00 0F F8'
    '88 88 00 88 88 87 70 00 00 00 0F F7 77 88 00 88'
    '77 77 70 00 00 00 0F F8 88 88 00 88 88 87 70 00'
    '00 00 0F F7 77 88 00 88 77 77 70 00 00 00 0F F8'
    '88 88 00 88 88 87 70 00 00 00 0F F7 77 88 00 88'
    '77 77 70 00 00 00 0F F8 88 88 00 88 88 87 70 00'
    '00 00 0F F7 77 88 00 88 77 77 70 00 00 00 0F F8'
    '88 88 00 88 88 87 70 00 00 00 0F F7 77 88 00 88'
    '77 77 70 00 00 00 0F F8 88 88 00 88 88 87 70 00'
    '00 00 0F F7 77 78 00 88 77 77 70 00 00 00 0F FF'
    'FF FF 00 88 88 88 80 00 00 00 B0 00 00 00 BB 00'
    '00 00 0B 00 00 00'
END


// Vertical slider thumb bitmap for TSlider and HSlider (include\owl\slider.rc)
IDB_VSLIDERTHUMB BITMAP PRELOAD MOVEABLE DISCARDABLE 
BEGIN
    '42 4D 2A 01 00 00 00 00 00 00 76 00 00 00 28 00'
    '00 00 28 00 00 00 09 00 00 00 01 00 04 00 00 00'
    '00 00 B4 00 00 00 00 00 00 00 00 00 00 00 00 00'
    '00 00 10 00 00 00 00 00 00 00 00 00 C0 00 00 C0'
    '00 00 00 C0 C0 00 C0 00 00 00 C0 00 C0 00 C0 C0'
    '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
    '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
    '00 00 FF FF FF 00 B0 00 00 00 00 00 00 00 00 0B'
    'B0 00 00 00 00 00 00 00 00 0B 0F 88 88 88 88 88'
    '88 88 88 80 08 88 88 88 88 88 88 88 88 80 0F 77'
    '77 77 77 77 77 77 77 80 08 77 77 77 77 77 77 77'
    '77 80 0F 77 FF FF FF FF FF FF F7 80 08 77 FF FF'
    'FF FF FF FF F7 80 0F 70 00 00 00 00 00 00 77 80'
    '08 70 00 00 00 00 00 00 77 80 0F 77 77 77 77 77'
    '77 77 77 80 08 77 77 77 77 77 77 77 77 80 0F 77'
    '77 77 77 77 77 77 77 80 08 77 77 77 77 77 77 77'
    '77 80 0F FF FF FF FF FF FF FF FF F0 08 88 88 88'
    '88 88 88 88 88 80 B0 00 00 00 00 00 00 00 00 0B'
    'B0 00 00 00 00 00 00 00 00 0B'
END


// Version info.
//
#if !defined(__DEBUG_)
// Non-Debug VERSIONINFO
1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0
FILEFLAGS VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS16
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // Language type = U.S. English (0x0409) and Character Set = Windows, Multilingual(0x04e4)
        BLOCK "040904E4"                            // Matches VarFileInfo Translation hex value.
        BEGIN
            VALUE "CompanyName", "PKWARE, INC.\000"
            VALUE "FileDescription", "span for Windows\000"
            VALUE "FileVersion", "1.0\000"
            VALUE "InternalName", "span\000"
            VALUE "LegalCopyright", "Copyright © 1995. All Rights Reserved.\000"
            VALUE "LegalTrademarks", "Windows (TM) is a trademark of Microsoft Corporation\000"
            VALUE "OriginalFilename", "span.EXE\000"
            VALUE "ProductName", "span\000"
            VALUE "ProductVersion", "1.0\000"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04e4        // U.S. English(0x0409) & Windows Multilingual(0x04e4) 1252
    END

END
#else

// Debug VERSIONINFO
1 VERSIONINFO LOADONCALL MOVEABLE 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD
FILEFLAGS VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS16
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // Language type = U.S. English (0x0409) and Character Set = Windows, Multilingual(0x04e4)
        BLOCK "040904E4"                            // Matches VarFileInfo Translation hex value.
        BEGIN
            VALUE "CompanyName", "PKWARE, INC.\000"
            VALUE "FileDescription", "span for Windows\000"
            VALUE "FileVersion", "1.0\000"
            VALUE "InternalName", "span\000"
            VALUE "LegalCopyright", "Copyright © 1995. All Rights Reserved.\000"
            VALUE "LegalTrademarks", "Windows (TM) is a trademark of Microsoft Corporation\000"
            VALUE "OriginalFilename", "span.EXE\000"
            VALUE "ProductName", "span\000"
            VALUE "ProductVersion", "1.0\000"
            VALUE "SpecialBuild", "Debug Version\000"
            VALUE "PrivateBuild", "Built by \000"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04e4        // U.S. English(0x0409) & Windows Multilingual(0x04e4) 1252
    END

END
#endif
